body {
  background-color: #D4D4D4;
  color: #2B2B2B;
  font: 14px helvetica, arial, sans-serif;
  margin: 0;
  max-height: 100%;
  padding: 0;
}
a {
  text-decoration: none;
}
.cf {
  *zoom: 1;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.container {
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.branding {
  color: #777777;
  font-size: 10px;
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 100;
}
.branding a {
  color: #cd3f3f;
}
header {
  background: #272727;
  border-left: 5px solid #cd3f3f;
  box-sizing: border-box;
  color: #ffffff;
  padding: 30px 20px;
}
.exc-title {
  color: #616161;
  margin: 0;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.exc-title-primary {
  color: #cd3f3f;
}
.exc-message {
  font-size: 32px;
  margin: 5px 0;
  word-wrap: break-word;
}
.stack-container {
  height: 100%;
  position: relative;
}
.details-container {
  background: #DADADA;
  float: right;
  height: 100%;
  overflow: auto;
  width: 70%;
}
.details {
  border-left: 5px solid rgba(0, 0, 0, 0.1);
  padding-left: 5px;
  padding: 10px;
}
.frames-container {
  background: #FFF;
  float: left;
  height: 100%;
  overflow: auto;
  width: 30%;
}
.frame {
  background: #F3F3F3;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  padding: 14px;
}
.frame.active {
  background-color: #4288ce;
  box-shadow: inset -2px 0 0 rgba(255, 255, 255, 0.1);
  color: #F3F3F3;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.frame:not(.active):hover {
  background: #BEE9EA;
}
.frame-function {
  font-weight: bold;
}
.frame-index {
  color: #BDBDBD;
  font-size: 11px;
  font-weight: bold;
}
.frame-class {
  color: #4288ce;
  font-weight: bold;
}
.active .frame-class {
  color: #BEE9EA;
}
.frame-file {
  font-family: "Inconsolata", "Fira Mono", "Source Code Pro", Monaco, Consolas, "Lucida Console", monospace;
  word-wrap: break-word;
}
.frame-file .editor-link {
  color: #272727;
}
.frame-line {
  color: #4288ce;
  font-weight: bold;
}
.active .frame-line {
  color: #BEE9EA;
}
.frame-line:before {
  content: ":";
}
.frame-code {
  background: #BDBDBD;
  border-left: 5px solid #4288ce;
  display: none;
  padding-left: 5px;
  padding: 10px;
}
.frame-code.active {
  display: block;
}
.frame-code-file {
  background: #C6C6C6;
  border-bottom: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 0 #DADADA;
  color: #525252;
  padding: 10px 10px 5px 10px;
  text-shadow: 0 1px 0 #E7E7E7;
}
.frame-comments {
  background: #404040;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  font-size: 12px;
  padding: 5px;
}
.frame-comments.empty {
  padding: 8px 15px;
}
.frame-comments.empty:before {
  color: #828282;
  content: "No comments for this stack frame.";
  font-style: italic;
}
.frame-comment {
  color: #D2D2D2;
  padding: 10px;
}
.frame-comment a {
  color: #BEE9EA;
  font-weight: bold;
  text-decoration: none;
}
.frame-comment a:hover {
  color: #4BB1B1;
}
.frame-comment:not(:last-child) {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
}
.frame-comment-context {
  color: #86D2B6;
  font-size: 10px;
  font-weight: bold;
}
.code-block {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 10px;
}
.data-table-container label {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
  color: #4288ce;
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  margin: 10px 0;
  padding-bottom: 5px;
  padding: 10px 0;
}
.data-table {
  margin: 10px 0;
  width: 100%;
}
.data-table tbody {
  font: 13px "Inconsolata", "Fira Mono", "Source Code Pro", Monaco, Consolas, "Lucida Console", monospace;
}
.data-table thead {
  display: none;
}
.data-table tr {
  padding: 5px 0;
}
.data-table td:first-child {
  color: #463C54;
  font-weight: bold;
  min-width: 130px;
  overflow: hidden;
  padding-right: 5px;
  width: 20%;
}
.data-table td:last-child {
  -moz-hyphens: auto;
  -ms-word-break: break-all;
  -webkit-hyphens: auto;
  hyphens: auto;
  width: 80%;
  word-break: break-all;
  word-break: break-word;
}
.data-table .empty {
  color: rgba(0, 0, 0, 0.3);
  font-style: italic;
}
/* prettify code style Uses the Doxy theme as a base */
pre .str,
code .str {
  color: #BCD42A;
  /* string */
}
pre .kwd,
code .kwd {
  color: #4bb1b1;
  font-weight: bold;
  /* keyword */
}
pre .com,
code .com {
  color: #888;
  font-weight: bold;
  /* comment */
}
pre .typ,
code .typ {
  color: #ef7c61;
  /* type */
}
pre .lit,
code .lit {
  color: #BCD42A;
  /* literal */
}
pre .pun,
code .pun {
  color: #fff;
  font-weight: bold;
  /* punctuation */
}
pre .pln,
code .pln {
  color: #e9e4e5;
  /* plaintext */
}
pre .tag,
code .tag {
  color: #4bb1b1;
  /* html/xml tag */
}
pre .htm,
code .htm {
  color: #dda0dd;
  /* html tag */
}
pre .xsl,
code .xsl {
  color: #d0a0d0;
  /* xslt tag */
}
pre .atn,
code .atn {
  color: #ef7c61;
  font-weight: normal;
  /* html/xml attribute name */
}
pre .atv,
code .atv {
  color: #bcd42a;
  /* html/xml attribute value  */
}
pre .dec,
code .dec {
  color: #606;
  /* decimal */
}
pre.prettyprint,
code.prettyprint {
  background: #333;
  color: #e9e4e5;
  font-family: "Inconsolata", "Fira Mono", "Source Code Pro", Monaco, Consolas, "Lucida Console", monospace;
}
pre.prettyprint a,
code.prettyprint a {
  text-decoration: none;
}
pre.prettyprint {
  white-space: pre-wrap;
}
.linenums {
  margin-left: 10px;
  margin: 0;
}
.linenums li {
  color: #A5A5A5;
}
.linenums li.current {
  background: rgba(255, 100, 100, 0.07);
  padding-left: 1px;
  padding-top: 4px;
}
.linenums li.current.active {
  background: rgba(255, 100, 100, 0.17);
}
#plain-exception {
  display: none;
}
#copy-button {
  display: none;
  float: right;
  cursor: pointer;
  border: 0;
}
.clipboard {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAcCAYAAACdz7SqAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gUUByMD0ZSoGQAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAACAklEQVRIx72Wv0sbYRjHP29y1VoXxR9UskjpXTaHoBUcpGgKkS5OZ1Ec/QeKOIhalEghoOCqQsGhFAWbISKYyaFDS1BKKW0TCYrQSdElXSReh9bkksu9iZdLbnrvvee9z/N83+d9nldo2gvjzd5Hxp4246W6J5tJszsxwvxPIbXzwBQDLgABvM1P6JsAwzCkdopl5vqIuWev2K4QpH/4QjjQci/nPCVny3iaNzMcrVUsC1sChFMpwtTu8dTqx7J9dR3a2BngUb0j7Xr+jtjasBR8f+jpNqqqoqoqmqblxjOJq/8GTfhCK8TWhmmykdhRpEIIhBCWMcD51wQXN3KwY3nvYGYgQPbXOMHJKOlMA77QCvsbugXsOFLZ+5+jGULBtyQuFB4PzlrAVSWSGWaptpdbjAcniaZv6RhcIL6VByvVZqsQouBMdutJkrrVrr1/gdjqN4Ze/3DvyBwcnnF9I7N4gC8YYdqNSHP7uD5G/7pdJRrl/ecIva1t9IRcgpolLk6qQic8eB+6GOkdrDjSf/OiTD91CS4r+jXrMqWkrgvUtuDbeVNTKGzw6SRDto5QBc5Yehlg0WbTc8mwHCeld1u+yZSySySlspTHFmZUeIkrgBYvtvPcyBdXkqWKq5OLmbk/luqVYjPOd3lxLXf/J/P7mJ0oCL/fX1Yfs4RO5CxW8C97dLBw2Q3fUwAAAABJRU5ErkJggg==');
  background-repeat: no-repeat;
  height: 28px;
  width: 29px;
}
